@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
}


:where(ul, ol):where([class]) {
  padding-left: 0;
}


body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}


:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a{
  text-decoration: none;
  color: var(--color-light);
  transition: .3s;

  &:hover{
    color: #bdbdbd;
  }
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

body{
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: 'Space Grotesk', sans-serif;
  // font-family: 'Press Start 2P';
  // background: linear-gradient(to bottom, #8B0000, #000000);
  // background-attachment: fixed;
}

html{
  scroll-behavior: smooth;
}

button, .btn{
  background-color: var(--color-red);
  border: none;
  color: var(--color-light);
  padding: 10px 20px;
  transition: .35s;
  border-radius: 3px;

  &:hover{
    background-color: #500505;
    color: var(--color-light);
  }
}

:root{
  --color-light: #F9F1F0;
  --color-dark: #000;
  --color-red: #750000;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}